body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


.fondo {
    background-color: #d9d9d9;
}



.header {
    background-color: #c62828;
    color: white;
}

.iconoHeader {
    width: 100px;
}


.titulo-principal {
    font-size: 2.2rem;
    font-weight: bold;
}

.subtitulo {
    font-size: 1rem;
    margin-top: -5px;
}



.menu ul li a {
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    text-decoration: none;
}

.menu ul li a:hover,
.menu ul li a.active {
    text-decoration: underline;
    color: #ffd1d1;
}

.navLIink {
    font-size: 1rem;
}


.carrusel-img {
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.card-opcion {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease;
}

.card-opcion:hover {
    transform: scale(1.03);
}

.icono-card {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.imagen-competencia {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}



.sub-banner {
    background-color: #f7b8b8;
    border-radius: 10px;
    width: fit-content;
    padding-left: 35px;
    padding-right: 35px;
}

.footer {
    background-color: #e78c8c;
    color: black;
}

.social {
    font-size: 1.6rem;
    margin: 0 5px;
}


@media (max-width: 768px) {
    .header-icon {
        display: none !important;
    }

    .titulo-principal {
        font-size: 1.6rem;
    }

    .subtitulo {
        font-size: 0.9rem;
    }

    .card-opcion {
        padding: 20px;
    }

    .carrusel-img {
        height: 300px;
    }
}


@media (max-width: 500px) {
    .titulo-principal {
        font-size: 1.4rem;
    }

    .carrusel-img {
        height: 250px;
    }

    .icono-card {
        width: 45px;
    }
}